doctype html
html
    head
        script.
            const app = {};
            app.snapshotUrl = "#{selectedCamera.snapshotUrl}";
            app.cameraId = "#{selectedCamera.id}";

        script(src="/dist/cameras.js")
    body
        .container
            #cameraIcons
                each camera in cameraConfigs
                    .cameraPlaceHolder
                        a(href=`/cameras?camera=${camera.id}`) #{camera.name}
            h1.title #{selectedCamera.name}
            #navButtons
                p
                    button#cameraLeftUp \
                    button#cameraUp ^
                    button#cameraRightUp /
                p
                    button#cameraLeft <-
                    button#cameraHome H
                    button#cameraRight ->
                p
                    button#cameraLeftDown /
                    button#cameraDown v
                    button#cameraRightDown \
            #videoContainer
                canvas#imgCanvas
            button#updatePresetsButton
                span.fas.fa-camera
                |  Update All
            #presets
            #gamepads

